# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config FLASH_PEBBLE_EXTFLASH
	bool "Pebble QEMU flash driver"
	default y
	depends on DT_HAS_PEBBLE_EXTFLASH_ENABLED && FLASH
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_EXPLICIT_ERASE
	select FLASH_HAS_PAGE_LAYOUT
	help
	  Driver for the corresponding device in qemu-pebble machines.
