# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SOC_PEBBLE_QEMU
	bool
	help
	  Generic Pebble machine in qemu-pebble (Cortex-M33)

config SOC
	default "pebble_qemu" if SOC_PEBBLE_QEMU
